a.button{
  display:inline-block;
  padding:1em 1.45em;
  margin:0.1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto','Segoe UI',sans-serif;
  font-weight:200;
  color:#FFFFFF;
  background-color:#AADD00;
  text-align:center;
  position:relative;
}

a.button:hover{
  border-color:#7a7a7a;
}

a.button:active{
  background-color:#999999;
}

/*
@media all and (max-width:30em){
  a.button{
    display:block;
    margin:0.2em auto;
  }
}